.footer {
    background-color: #4C5866;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 80px;
    padding-left: 165px;
    padding-right: 165px;
    align-items: center;
}

.navigation-images-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 186px;
    height: 18px;
    list-style-type: none;
    align-items: center;
    padding: 0%;
    margin: 0%;
}

#simple-section-footer {
    display: flex;
    flex-flow: row nowrap;
    width: 160px;
    height: 22px;
}

.navigation-images-footer li a:hover {
    background-color: #7875FE;
    transform: scale(1.1);
}

.navigation-images-footer li a {
    display: flex;
    width: 18px;
    height: 18px;
    transition-duration: 0.5s;
    align-items: center;
    border-radius: 8px;
}